<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/this/aliases.css" />
</head>
<roundcube:if condition="env:extwin" /><body class="noscroll extwin"><roundcube:else /><body class="noscroll"><roundcube:endif />

<roundcube:include file="/includes/header.html" />

<div id="mainscreen" class="offset">

<h1 class="voice"><roundcube:label name="settings" /> : <roundcube:label name="aliases.aliases" /></h1>

<roundcube:include file="/includes/settingstabs.html" />

<div id="settings-right">

<div id="aliases-list" class="uibox listbox" role="navigation" aria-labelledby="aria-label-pefsection">
<h2 id="aria-label-pefsection" class="boxtitle"><roundcube:object name="aliaseslisttitle" activeicon="/this/images/tick.png" inactiveicon="/this/images/cross.png" /></h2>
<div class="scroller withfooter">
	<roundcube:object name="aliaseslist" id="aliases-table" class="listing aliases-table fixedheader" noheader="true" activeicon="/this/images/tick.png" inactiveicon="/this/images/cross.png" />
</div>
<div class="boxfooter">
	<roundcube:button command="plugin.aliases.add" type="link" title="aliases.aliasesnewalias" class="listbutton add disabled" classAct="listbutton add" innerClass="inner" content="+" />
	<roundcube:button command="plugin.aliases.delete" type="link" title="delete" class="listbutton delete disabled" classAct="listbutton delete" innerClass="inner" content="-" />
</div>
</div>

<div id="aliases-details" class="uibox contentbox">
<div class="iframebox">
	<roundcube:object name="aliasesframe" id="preferences-frame" style="width:100%; height:100%" frameborder="0" src="/watermark.html" title="aliases.arialabelfiltersform" />
</div>
</div>

</div>

</div>

<roundcube:include file="/includes/footer.html" />

<script type="text/javascript">
/* <![CDATA[ */

$(document).ready(function(){
	new rcube_splitter({id:'aliasesviewsplitter', p1: '#aliases-list', p2: '#aliases-details', orientation: 'v', relative: true, start:266, min:180, size:12}).init();
});

/* ]]> */
</script>

</body>
</html>